* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}
#waybar {
    background: rgba(0.0, 0.0, 0.0, 0.0);
    color: #c5c8c6;
    font-size: 14px;
    font-family: "RobotoMono Nerd Font";
}

#workspaces button {
    padding: 0 5px;
    color: rgba(197, 200, 198, 1.0);
    font-size: 18px;
}
#workspaces button.active {
    color: rgba(3, 155, 229, 1.0);
}
#workspaces button.focused {
    color: rgba(3, 155, 229, 1.0);
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#wireplumber,
#battery,
#upower,
#custom-updates,
#idle_inhibitor,
#tray,
#network {
    padding: 4px 8px;
    background-color: rgba(48, 54, 67, 0.9);
    border-radius: 5px;
    margin: 6px 6px;
}
#tray {
    margin-left: 4px;
}
#custom-updates {
    color: #1788e4;
}
#custom-powermenu {
    color: #e06c75;
    padding-right: 11px;
    margin-right: 8px;
}
#scratchpad {
    color: #cffafe;
    padding-right: 4px;
    padding-left: 4px;
}
#pulseaudio {
    color: #0fb9b1;
    padding-right: 14px;
}
#cpu {
    color: #61afef;
}
#temperature {
    color: #98c379;
}
#memory {
    color: #e5c07b;
}
#network {
    color: #c678dd;
    min-width: 200px;
}
#clock {
    font-size: 14px;
    color: #fff;
    margin-left: 8px;
}
